.vip-nav
, .vip-aside
, .vip-aside:before
, .vip-aside:after {
    background-color: #FF5722;
}
.vip-nav ul li>i {
    color: white !important;
}
.vip-nav ul li>i:hover, .vip-nav ul li>i.active {
    border-left: 1px solid #FFF;
}
.vip-aside ul hr {
    background-color: #FFF !important;
}